@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    .ciudad{
        background-image: url('../img/playa.jpg'); 
    }
}
 
@layer components{
    .menu ul li{
        @apply inline-block tracking-wide leading-loose mt-0 mr-5 mb-0 ml-5
    }
    .cityCard{
        @apply w-full  flex flex-row p-3;
     }
     .cityBackground{
         @apply bg-white  shadow-lg overflow-hidden flex-1 flex flex-col
     }
     .cityImage{
         @apply bg-cover  h-80;
     }
}