/* Hoteles */

position: relative;
width: 4907px;
height: 7662px;

background: #FFFFFF;


/* Rectangle 10 */

position: absolute;
width: 4907px;
height: 381px;
left: 0px;
top: 0px;

background: rgba(12, 183, 242, 0.8);


/* LOGO */

position: absolute;
width: 185px;
height: 84px;
left: 255px;
top: 149px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 84px;

color: #000000;



/* INICIO */

position: absolute;
width: 587px;
height: 172px;
left: 986px;
top: 147px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 84px;

color: #000000;



/* DESTINOS */

position: absolute;
width: 587px;
height: 172px;
left: 1449px;
top: 147px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 84px;

color: #101010;



/* HOTELES */

position: absolute;
width: 679px;
height: 162px;
left: 1982px;
top: 140px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 84px;

color: #FFFFFF;

border: 1px solid #FFFFFF;


/* 14766-playa 1 */

position: absolute;
width: 4907px;
height: 1159px;
left: 0px;
top: 470px;

background: url(14766-playa.jpg);


/* INICIAR SESION */

position: absolute;
width: 679px;
height: 162px;
left: 4172px;
top: 140px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 84px;

color: #000000;

border: 1px solid #000000;


/* Rectangle 14 */

position: absolute;
width: 4937px;
height: 199px;
left: -30px;
top: 1672px;

background: rgba(255, 200, 3, 0.91);


/* HOTELES */

position: absolute;
width: 1229px;
height: 162px;
left: 122px;
top: 1730px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 112px;

color: #000000;

border: 1px solid #000000;


/* Footer */

position: absolute;
width: 5210px;
height: 741px;
left: -30px;
top: 6921px;



/* Footer */

position: absolute;
width: 4942px;
height: 741px;
left: -30px;
top: 6921px;

background: #E3D5AC;


/* REDES SOCIALES */

position: absolute;
width: 1516px;
height: 185px;
left: 3664px;
top: 7091px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 112px;

color: #000000;



/* LOGO 1 */

position: absolute;
width: 147px;
height: 88px;
left: 3692px;
top: 7274px;

background: url(LOGO.png);


/* @REDSOCIAL INVENTADA */

position: absolute;
width: 800px;
height: 76px;
left: 3820px;
top: 7286px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #000000;



/* insta 1 */

position: absolute;
width: 150px;
height: 116px;
left: 3689px;
top: 7376px;

background: url(insta.png);


/* @REDSOCIAL INVENTADA */

position: absolute;
width: 800px;
height: 76px;
left: 3820px;
top: 7396px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #000000;



/* Group 15 */

position: absolute;
width: 1648px;
height: 151px;
left: 1496px;
top: 7078px;



/* Rectangle 31 */

position: absolute;
width: 1648px;
height: 151px;
left: 1496px;
top: 7078px;

background: #FFFFFF;
border: 9px solid #000000;
box-sizing: border-box;
border-radius: 40px;


/* Email:__________________________________ */

position: absolute;
width: 1488.92px;
height: 84px;
left: 1553.22px;
top: 7113px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 84px;

color: #000000;



/* Group 16 */

position: absolute;
width: 1325px;
height: 517px;
left: 100px;
top: 7065px;



/* Rectangle 31 */

position: absolute;
width: 1325px;
height: 517px;
left: 100px;
top: 7065px;

background: #FFFFFF;
border: 9px solid #000000;
box-sizing: border-box;
border-radius: 60px;


/* Comentario * */

position: absolute;
width: 424px;
height: 84px;
left: 145px;
top: 7145px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 84px;

color: #000000;



/* He leído y acepto la Política de privacidad * */

position: absolute;
width: 1379px;
height: 84px;
left: 1766px;
top: 7405px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 84px;

color: #000000;



/* Rectangle 32 */

position: absolute;
width: 99px;
height: 96px;
left: 1613px;
top: 7405px;

background: #FFFFFF;
border: 11px solid #000000;
box-sizing: border-box;
border-radius: 15px;


/* Rectangle 38 */

position: absolute;
width: 1207.17px;
height: 4861.6px;
left: 20.49px;
top: 3141.54px;

background: #FFFFFF;
border: 60px solid rgba(149, 149, 149, 0.52);
box-sizing: border-box;
border-radius: 60px;
transform: rotate(-90.1deg);


/* Group 5 */

position: absolute;
width: 1324px;
height: 181px;
left: 255px;
top: 2397px;



/* Buscador */

position: absolute;
width: 1324px;
height: 181px;
left: 255px;
top: 2397px;



/* Buscador */

position: absolute;
width: 1324px;
height: 181px;
left: 255px;
top: 2397px;

background: #FFFFFF;
border: 8px solid #000000;
box-sizing: border-box;
border-radius: 50px;


/* Ellipse 1 */

position: absolute;
width: 97.35px;
height: 89.13px;
left: 1410.4px;
top: 2435px;

background: #101010;


/* Ellipse 2 */

position: absolute;
width: 82.56px;
height: 73.47px;
left: 1417.79px;
top: 2442.83px;

background: #FFFFFF;


/* Line 1 */

position: absolute;
width: 54.7px;
height: 0px;
left: 1487.42px;
top: 2510.28px;

border: 20px solid #000000;
transform: matrix(0.69, 0.71, -0.74, 0.69, 0, 0);


/* Group 4 */

position: absolute;
width: 2983px;
height: 223px;
left: 213px;
top: 2109px;



/* Group 6 */

position: absolute;
width: 1220px;
height: 209px;
left: 1976px;
top: 2123px;



/* Group 13 */

position: absolute;
width: 1220px;
height: 209px;
left: 1976px;
top: 2123px;



/* Rectangle 26 */

position: absolute;
width: 1220px;
height: 197.11px;
left: 1976px;
top: 2123px;

background: rgba(255, 200, 3, 0.91);
border-radius: 40px;


/* BUSQUE TU HOTELES */

position: absolute;
width: 947.2px;
height: 160.46px;
left: 2202px;
top: 2171.54px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 112px;

color: #000000;

border: 1px solid #000000;


/* Rectangle 18 */

position: absolute;
width: 1363px;
height: 199px;
left: 213px;
top: 2109px;

background: rgba(255, 200, 3, 0.91);
border-radius: 40px;


/* BUSQUE SU HOTEL */

position: absolute;
width: 1077.25px;
height: 162px;
left: 458.4px;
top: 2158px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 112px;

color: #000000;

border: 1px solid #000000;


/* Group 8 */

position: absolute;
width: 1220px;
height: 215px;
left: 1976px;
top: 2372px;



/* Rectangle 27 */

position: absolute;
width: 1220px;
height: 215px;
left: 1976px;
top: 2372px;

background: #FFFFFF;
border: 11px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 40px;


/* 25/02/2022 || 02/03/2022 */

position: absolute;
width: 1141px;
height: 113px;
left: 2015px;
top: 2441px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 84px;

color: #000000;



/* image 1 */

position: absolute;
width: 213px;
height: 159px;
left: 2936px;
top: 2400px;

background: url(image.png);


/* Group 10 */

position: absolute;
width: 1042px;
height: 203px;
left: 3664px;
top: 2386px;



/* Rectangle 29 */

position: absolute;
width: 1042px;
height: 203px;
left: 3664px;
top: 2386px;

background: #FFFFFF;
border: 11px solid #000000;
box-sizing: border-box;
border-radius: 40px;


/* Arrow 1 */

position: absolute;
width: 107.71px;
height: 0px;
left: 4611px;
top: 2433.64px;

border: 10px solid #000000;
box-sizing: border-box;
border-radius: 60px;
transform: rotate(90deg);


/* Group 12 */

position: absolute;
width: 1042px;
height: 214px;
left: 3664px;
top: 2121px;



/* Rectangle 28 */

position: absolute;
width: 1042px;
height: 199px;
left: 3664px;
top: 2121px;

background: rgba(255, 200, 3, 0.91);
border-radius: 40px;


/* BUSQUE TU HOTELES */

position: absolute;
width: 976px;
height: 162px;
left: 3710px;
top: 2173px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 112px;

color: #000000;

border: 1px solid #000000;


/* Line 5 */

position: absolute;
width: 437.04px;
height: 0px;
left: 1740px;
top: 2158px;

border: 10px solid #000000;
transform: rotate(89.21deg);


/* Line 6 */

position: absolute;
width: 454px;
height: 0px;
left: 3316px;
top: 2159px;

border: 10px solid #000000;
transform: rotate(90.13deg);


/* Group 14 */

position: absolute;
width: 1463px;
height: 258px;
left: 1852px;
top: 2676px;



/* Rectangle 30 */

position: absolute;
width: 1463px;
height: 258px;
left: 1852px;
top: 2676px;

background: #FFC803;
border-radius: 60px;


/* BUSCAR */

position: absolute;
width: 834.69px;
height: 47.72px;
left: 2388px;
top: 2757px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 112px;

color: #000000;



/* Card2 */

position: absolute;
width: 1212px;
height: 1505px;
left: 1848px;
top: 3265px;



/* Rectangle 15 */

position: absolute;
width: 1212px;
height: 1487px;
left: 1848px;
top: 3283px;

background: #E2D8D8;
border-radius: 50px;


/* 14766-playa 2 */

position: absolute;
width: 1212px;
height: 719px;
left: 1848px;
top: 3265px;

background: url(14766-playa.jpg);
border-radius: 50px;


/* Star 3 */

position: absolute;
width: 194px;
height: 189px;
left: 2066px;
top: 3265px;

background: #FFC803;
border-radius: 39px;


/* Star 2 */

position: absolute;
width: 194px;
height: 189px;
left: 1848px;
top: 3265px;

background: #FFC803;
border-radius: 39px;


/* 299.99€ */

position: absolute;
width: 771px;
height: 229px;
left: 1874px;
top: 4523px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 144px;
line-height: 169px;

color: #000000;



/* JAPON + HOTEL */

position: absolute;
width: 776px;
height: 138px;
left: 1874px;
top: 4027px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 112px;

color: #000000;



/* COMENTARIO DESTACADO */

position: absolute;
width: 628px;
height: 138px;
left: 1874px;
top: 4165px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #000000;



/* ANTONIO Un gran lugar para pasar las vacaciones,buen trato he podido consumir mucho flexygo en esta maravillosa isla. */

position: absolute;
width: 1160px;
height: 282px;
left: 1869px;
top: 4259px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #000000;



/* Card2 */

position: absolute;
width: 1212px;
height: 1505px;
left: 3474px;
top: 3261px;



/* Rectangle 15 */

position: absolute;
width: 1212px;
height: 1487px;
left: 3474px;
top: 3279px;

background: #E2D8D8;
border-radius: 50px;


/* 14766-playa 2 */

position: absolute;
width: 1212px;
height: 719px;
left: 3474px;
top: 3261px;

background: url(14766-playa.jpg);
border-radius: 50px;


/* Star 3 */

position: absolute;
width: 194px;
height: 189px;
left: 3692px;
top: 3261px;

background: #FFC803;
border-radius: 39px;


/* Star 2 */

position: absolute;
width: 194px;
height: 189px;
left: 3474px;
top: 3261px;

background: #FFC803;
border-radius: 39px;


/* 299.99€ */

position: absolute;
width: 771px;
height: 229px;
left: 3500px;
top: 4519px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 144px;
line-height: 169px;

color: #000000;



/* JAPON + HOTEL */

position: absolute;
width: 776px;
height: 138px;
left: 3500px;
top: 4023px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 112px;

color: #000000;



/* COMENTARIO DESTACADO */

position: absolute;
width: 628px;
height: 138px;
left: 3500px;
top: 4161px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #000000;



/* ANTONIO Un gran lugar para pasar las vacaciones,buen trato he podido consumir mucho flexygo en esta maravillosa isla. */

position: absolute;
width: 1160px;
height: 282px;
left: 3495px;
top: 4255px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #000000;



/* Card2 */

position: absolute;
width: 1212px;
height: 1505px;
left: 1905px;
top: 5041px;



/* Rectangle 15 */

position: absolute;
width: 1212px;
height: 1487px;
left: 1905px;
top: 5059px;

background: #E2D8D8;
border-radius: 50px;


/* 14766-playa 2 */

position: absolute;
width: 1212px;
height: 719px;
left: 1905px;
top: 5041px;

background: url(14766-playa.jpg);
border-radius: 50px;


/* Star 3 */

position: absolute;
width: 194px;
height: 189px;
left: 2123px;
top: 5041px;

background: #FFC803;
border-radius: 39px;


/* Star 2 */

position: absolute;
width: 194px;
height: 189px;
left: 1905px;
top: 5041px;

background: #FFC803;
border-radius: 39px;


/* 299.99€ */

position: absolute;
width: 771px;
height: 229px;
left: 1931px;
top: 6299px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 144px;
line-height: 169px;

color: #000000;



/* JAPON + HOTEL */

position: absolute;
width: 776px;
height: 138px;
left: 1931px;
top: 5803px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 112px;

color: #000000;



/* COMENTARIO DESTACADO */

position: absolute;
width: 628px;
height: 138px;
left: 1931px;
top: 5941px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #000000;



/* ANTONIO Un gran lugar para pasar las vacaciones,buen trato he podido consumir mucho flexygo en esta maravillosa isla. */

position: absolute;
width: 1160px;
height: 282px;
left: 1926px;
top: 6035px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #000000;



/* Card2 */

position: absolute;
width: 1212px;
height: 1505px;
left: 3531px;
top: 5037px;



/* Rectangle 15 */

position: absolute;
width: 1212px;
height: 1487px;
left: 3531px;
top: 5055px;

background: #E2D8D8;
border-radius: 50px;


/* 14766-playa 2 */

position: absolute;
width: 1212px;
height: 719px;
left: 3531px;
top: 5037px;

background: url(14766-playa.jpg);
border-radius: 50px;


/* Star 3 */

position: absolute;
width: 194px;
height: 189px;
left: 3749px;
top: 5037px;

background: #FFC803;
border-radius: 39px;


/* Star 2 */

position: absolute;
width: 194px;
height: 189px;
left: 3531px;
top: 5037px;

background: #FFC803;
border-radius: 39px;


/* 299.99€ */

position: absolute;
width: 771px;
height: 229px;
left: 3557px;
top: 6295px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 144px;
line-height: 169px;

color: #000000;



/* JAPON + HOTEL */

position: absolute;
width: 776px;
height: 138px;
left: 3557px;
top: 5799px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 112px;

color: #000000;



/* COMENTARIO DESTACADO */

position: absolute;
width: 628px;
height: 138px;
left: 3557px;
top: 5937px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #000000;



/* ANTONIO Un gran lugar para pasar las vacaciones,buen trato he podido consumir mucho flexygo en esta maravillosa isla. */

position: absolute;
width: 1160px;
height: 282px;
left: 3552px;
top: 6031px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #000000;



/* Card2 */

position: absolute;
width: 1212px;
height: 1505px;
left: 213px;
top: 5059px;



/* Rectangle 15 */

position: absolute;
width: 1212px;
height: 1487px;
left: 213px;
top: 5077px;

background: #E2D8D8;
border-radius: 50px;


/* 14766-playa 2 */

position: absolute;
width: 1212px;
height: 719px;
left: 213px;
top: 5059px;

background: url(14766-playa.jpg);
border-radius: 50px;


/* Star 3 */

position: absolute;
width: 194px;
height: 189px;
left: 431px;
top: 5059px;

background: #FFC803;
border-radius: 39px;


/* Star 2 */

position: absolute;
width: 194px;
height: 189px;
left: 213px;
top: 5059px;

background: #FFC803;
border-radius: 39px;


/* 299.99€ */

position: absolute;
width: 771px;
height: 229px;
left: 239px;
top: 6317px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 144px;
line-height: 169px;

color: #000000;



/* JAPON + HOTEL */

position: absolute;
width: 776px;
height: 138px;
left: 239px;
top: 5821px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 112px;

color: #000000;



/* COMENTARIO DESTACADO */

position: absolute;
width: 628px;
height: 138px;
left: 239px;
top: 5959px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #000000;



/* ANTONIO Un gran lugar para pasar las vacaciones,buen trato he podido consumir mucho flexygo en esta maravillosa isla. */

position: absolute;
width: 1160px;
height: 282px;
left: 234px;
top: 6053px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #000000;



/* Card2 */

position: absolute;
width: 1212px;
height: 1505px;



/* Rectangle 15 */

position: absolute;
width: 1212px;
height: 1487px;

background: #E2D8D8;
border-radius: 50px;


/* 14766-playa 2 */

position: absolute;
width: 1212px;
height: 719px;

background: url(14766-playa.jpg);
border-radius: 50px;


/* Star 3 */

position: absolute;
width: 194px;
height: 189px;

background: #FFC803;
border-radius: 39px;


/* Star 2 */

position: absolute;
width: 194px;
height: 189px;

background: #FFC803;
border-radius: 39px;


/* 299.99€ */

position: absolute;
width: 771px;
height: 229px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 144px;
line-height: 169px;

color: #000000;



/* JAPON + HOTEL */

position: absolute;
width: 776px;
height: 138px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 112px;

color: #000000;



/* COMENTARIO DESTACADO */

position: absolute;
width: 628px;
height: 138px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #000000;



/* ANTONIO Un gran lugar para pasar las vacaciones,buen trato he podido consumir mucho flexygo en esta maravillosa isla. */

position: absolute;
width: 1160px;
height: 282px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #000000;

